@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base styles */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* Main Colors */
    --primary: 198 100% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 173 64% 38%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 198 100% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 198 100% 60%;
    --primary-foreground: 0 0% 10%;
    --secondary: 173 58% 52%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 198 100% 60%;
  }

  /* Global Elements */
  * {
    @apply border-border;
  }

  /* Body: default Montserrat */
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat), sans-serif;
  }

  /* H1: Playfair Display */
  h1 {
    font-family: var(--font-playfair-display), serif;
  }
}


.text-gradient {
  background: linear-gradient(90deg, #0078B8 0%, #229F99 101.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}
